/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  /*Hiệu ứng chạy animation trong toàn bộ thẻ html*/
}

/* 
  Nguyên tắc làm việc 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/*
  Các câu hỏi để xử lí
1. Ví trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, hình vuông, etc...)
*/

/* Common */
.text-white {
  /*Thuộc tính định dạng màu chữ thành trắng*/
  color: #fff !important;
}

.text-black {
  /*Thuộc tính định dạng màu chữ thành đen*/
  color: #000 !important;
}

.text-center {
  text-align: center !important;
  /*Thuộc tính căn giữa các element con trong thẻ*/
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row::after {
  /*Định dạng 1 element giả sau row*/
  content: "";
  /*Tương tự như thuộc tính overflow: hidden, bỏ hiểu ứng nổi của thuộc tính float*/
  display: block;
  clear: both;
}

.col {
  /*Định dạng col*/
  float: left;
  /*Thuộc tính đẩy các khối element có dạng block từ trái sang phải*/
  padding-left: 8px;
  /*Thuộc tính định dạng lề trong, tạo khoảng cách giữa các element*/
  padding-right: 8px;
}

.col-full {
  /*Định dạng col-full*/
  width: 100%;
  /*Thuộc tính tạo chiều rộng chiếm 100% width*/
}

.col-half {
  /*Định dạng col-half*/
  width: 50%;
  /*Thuộc tính tạo chiều rộng, chia khoảng chữa làm 2 cột*/
}

.col-third {
  /*Định dạng col-third*/
  width: calc(100%/3);
  /*Thuộc tính tạo chiều rộng, với hàm calc để chia thành 3 cột trong khoảng width*/
}
row .col-third {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.skills {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  margin: auto;
}
.skills .row {
  margin-top: 4rem
}

.mt-8 {
  /*Định dạng lề ngoài-trên bằng 8px*/
  margin-top: 8px !important;
}

.mt-16 {
  /*Định dạng lề ngoài-trên bằng 16px*/
  margin-top: 16px !important;
}

.wider {
  /*Định dạng thẻ wider*/
  width: 900px !important;
}


/* Main */

/* -------------------------------------------------------------------------------------------------------- */
#header {
  /*Định dạng header*/
  display: flex;
  height: 46px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(41, 40, 40);
  box-shadow: 0 0 25px rgb(0, 0, 0);
  z-index: 1;
}

#navi {
  /*Định dạng thẻ nav dạng khối có giới hạn*/
  display: inline-block;
}

#navi .subnavi {
  /*Định dạng kiểu list của các thẻ con*/
  list-style-type: none;
}

#navi>li {
  /*Định dạng hiển thị thẻ li level 1 (list)*/
  display: inline-block;
}

#navi li {
  /*Định dạng thẻ cha làm gốc để đối chiếu thẻ con*/
  position: relative;
}

#navi>li>a {
  /*Kiểu thẻ a level 1*/
  color: #fff;
  text-transform: uppercase;
}

#navi li a {
  /*Kiểu chung của tất cả thẻ a, con của thẻ li, con của thẻ nav*/
  text-decoration: none;
  line-height: 46px;
  padding: 0 20px;
  display: block;
  font-size: 18px;
}

#navi li:hover .subnavi {
  /*Lớp giả định dạng hiển thị thẻ trong thẻ class subnavi khi hover thẻ li lv1*/
  display: block;
}

#navi>li:hover>a,
/*Lớp giả hiệu ứng thẻ a khi hover vào li level 1 và li level 2*/
#navi .subnavi li:hover a {
  color: rgb(0, 0, 0);
  background-color: #fff;
}

#navi .subnavi {
  /*Định dạng tất cả thẻ trong subnavi*/
  display: none;
  min-width: 195px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

#navi .subnavi a {
  /*Định dạng thẻ a trong subnavi*/
  color: #fff;
  padding: 0 52px;
  line-height: 42px;
  text-transform: uppercase;
}
  #navi .kitties-icon {
  /*Định dạng font thẻ kitties-icon*/
  font-size: 14px;
}

#header .mb-menu-btn{
  padding: 0 24px;
  max-width: 10px;
  margin: 15px;
}
#header {
  display: flex;
  justify-content: space-between;
}
#header .search-button {
  /*Khởi tạo thanh tìm kiếm*/
  padding: 16px 14px;
  margin-right: 16px
  /* margin-right: ; */
 
}

#header .mb-menu-btn {
  position: absolute;
  top: 0;
  right  : 0;
  display: none;
}

#header .search-button:hover,
#header .search-button:hover .search-icon {
  background-color: #fff;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#header .mb-menu-btn:hover .menu-icon {
  background-color: #fff;
  color: rgb(0, 0, 0);
}

#header .menu-icon,
#header .search-icon {
  /*Định dạng icon search*/
  color: #fff;
  line-height: 46px;
}
.skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
}
.skill-item h4 {
  margin-bottom: 0.75rem;
}
.skill-item .progress {
  background-color: whitesmoke;
  height: 0.45rem;
  border-radius: 2rem;
  width: 100%;
  position: relative;
}
.skill-item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: var(--border-radius);
}
.skill-item .skill-percent {
  position: absolute;
  right: 0;
  top: -2rem;
}
#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 100%;
}

#slider .text-content {
  position: absolute;
  bottom: 400px;
  width: 100%;
 
  text-align: center;
}

#slider .text-box:hover,
#slider .text-heading:hover {
  color: rgb(0, 0, 0);
  opacity: 1;
}

#slider .text-heading {
  /*Định dạng thẻ text-heading*/
  font-weight: 300;
  font-size: 46px;
}

#slider .text-box {
  /*Định dạng thẻ text-box*/
  font-size: 22px;
  margin-top: 30px;
  font-style: italic;
  position: relative;
  opacity: 0.6;
  font-weight: 550;
}
#content .content-section {
  /*Định dạng thẻ content-section*/
  width: 800px;
  max-width: 100%;
  padding: 72px 16px;
  margin-left: auto;
  margin-right: auto;
}

#content .content-label {
  /*Định dạng thẻ content-label*/
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
  color: rgb(0, 0, 0);
  padding: 100;
}

#content .sub-label {
  /*Định dạng thẻ sub-label*/
  margin: 25px 0;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  opacity: 0.6;
}

#content .story-body {
  /*Định dạng thẻ story-body*/
  font-size: 15px;
  text-align: justify;
  line-height: 1.4;
  color: rgb(0, 0, 0);
}

#content .moment-list {
  /*Định dạng thẻ moment-list*/
  overflow: hidden;
  margin-top: 16px;
}

#content .moment-text {
  /*Định dạng thẻ moment-text*/
  padding-top: 48px;
  color: rgb(79, 75, 75);
  font-weight: 550;
  font-style: italic;
}

#content .moment-pic {
  /*Định dạng thẻ moment-pic*/
  width: 200px;
  margin-top: 24px;
  border-radius: 20px;
  height: 250px;
  object-fit: cover;

}

.services-box {
  /*Định dạng thẻ services-box*/
  background-color: #fafafa;
}

.services-list {
  /*Định dạng thẻ place-list*/
  background-color: #fff;
  list-style-type: none;
  margin-top: 40px;
}

.services-list li {
  /*Định dạng thẻ li trong place-list*/
  padding: 11px 16px;
  color: #757575;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}


.soon {
  /*Định dạng thẻ Soon*/
  background-color: #000;
  color: #fff;
  float: right;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  margin-top: -3px;
}

.location-list {
  /*Định dạng thẻ location-list*/
  overflow: hidden;
  margin-top: 18px;
  margin-bottom: 18px;
}

.location-img {
  /*Định dạng thẻ location-img*/
  width: 100%;
  /* height: 190px; */
  display: block;
}

.location-img:hover {
  /*Định dạng thẻ location-img*/
  opacity: 0.6;
}

.location-body {
  /*Định dạng thẻ location-body*/
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}

.location-heading {
  /*Định dạng thẻ location-heading*/
  font-size: 15px;
  font-weight: 550;
}

.location-time {
  /*Định dạng thẻ location-time*/
  margin-top: 15px;
  color: #757575;
}

.location-desc {
  /*Định dạng thẻ location-desc*/
  margin-top: 16px;
  line-height: 1.4;
  font-style: italic;
}

.location-button {
  /*Định dạng thẻ location-button*/
  background: #000;
  color: #fff;
  text-decoration: none;
  padding: 11px 16px;
  margin-top: 18px;
  border: none;
  cursor: pointer;
  font-weight: 550;
  
}

.location-button:hover {
  /*Định dạng hover thẻ location-button*/
  background-color: #ccc;
  color: #000;
}

.box-info-area {
  /*Định dạng thể box-info-area*/
  /* display: flex; */
  align-items: end;
}
.contact-info {
  /*Định dạng thẻ contact-info*/
  font-size: 18px;
  line-height: 1.6;
  color: rgb(255, 255, 255);
}
.contact-icon {
  margin-right: 1rem;
}
.SEND{
  color: #000;
  background-color: white;
}
.contact-info i[class*="ti-"] {
   width: 30px;
  display: inline-block;
}
.box-info-area .col:first-child {
  margin-bottom: auto;
}
.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.form-submit-btn {
  background-color: #958b8d;
  color: #ffffff;
  border: none; 
  padding: 12px 18px;
  float: right;
  opacity: 0.8;
  font-weight: 550;
  appearance: none;
  -webkit-appearance: none; 
}
.form-submit-btn:hover { 
  background-color: #000000;
}
.portfolio-container{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: .625rem;
  justify-content: space-between;
}
.blog-item{
  aspect-ratio: 1/1;
  box-shadow: 0 0 48px #04060414;
  border-radius: 8px;
  padding-bottom: 10px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 24%;
  max-width: 24%;
}
.blog-item img{
  width: 100%;
}
.blog-item:hover > .portfolio-icon{
  opacity: 0.8;
  margin-top: 0px;
}
.item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  opacity: 1;
  transition: opacity .1s ease;
}
.item:hover .overlay {
  opacity:0.8;
}
.text-por{
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
  overflow: auto;
  height: 60%;
  justify-content: center;
}
.dropdown-content::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: rgb(41, 40, 40);
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  font-size: 14px;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #817c7d;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.ttl-box{
  background-color: #b9c7e1;
}
.testimonial-container {
  padding: 5px;
  border-radius: 0px;
  overflow: hidden; /* Loại bỏ nội dung vượt ra khỏi khung */
}
.ttl-img{
  width: 150px;
  padding-bottom: 30px;  
}
.testimonial h2 {
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.testimonial {
  display: flex; /* Ẩn tất cả các đánh giá ban đầu */
  text-align: center;
  font-size: 20px;
  color: #363030;
}
.testimonial p {
  font-style: italic;
  text-align: center;
  font-size: 25px;
  margin: 25px 25px;
  color: #757575;
  opacity: 0.6;
  padding: 30px 30px;
}
footer {
   background-color: rgb(41, 40, 40);
  color: white;
}
footer .social-list {
  font-size: 35px;
  padding: 2%;
}
footer .social-list a {
 color: rgb(255, 255, 255);
  text-decoration: none;
}
footer .copyright {
   font-size: 15px;
  color: rgb(255, 255, 255);
}
footer .copyright a {
  color: rgba(0, 0, 0, 0.6);
}
footer .copyright a:hover,
footer .social-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}
.fa-solid.fa-x {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  padding: 12px 16px;
  cursor: pointer;
  opacity: 0.8;
}
.fa-solid.fa-x:hover {
  opacity: 1;
}
.fa-solid.fa-bell {
  margin-right: 16px;
}
.modal-body {
  padding: 16px;
}
.modal-label {
  display: block;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 12px;
}
.modal-input1 {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 15px;
  margin-bottom: 24px;
}
#text-review {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 150px;
  font-size: 15px;
  margin-bottom: 24px;
  resize: none;
}

.modal-footer {
  text-align: right;
  font-size: 15px;
  padding: 16px;
}
.modal-footer a {
  color: #2196f3;
}

.icon {
  position: absolute;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: #fff;
  border-radius: 99px;
  z-index: -1;
  fill: rgb(0, 0, 0);
  border: 1px solid rgb(91, 107, 255);
}
#b {
  max-width: 100%;
  height: auto;
}
.ct {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.contact-px{
  background-color: #f1f3f6;
}
.content-sectionn{
  width: 800px;
  max-width: 100%;
  padding: 72px 16px;
  margin-left: auto;
  margin-right: auto;
}
.content-labell{
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
  color: rgb(0, 0, 0);
}
.sub-labell{
  margin: 25px 0;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  opacity: 0.6;
}
.contact-info {                  
  font-size: 18px;
  line-height: 1.6;
  color: rgb(12, 12, 12);
}
#footer {                        
  padding: 64px 16px;
  text-align: center;
}
@media (max-width: 500px) {
  .containey {
      grid-template-columns: repeat(1, 1fr);
      width: 70%; 
      float: none; 
      }
  }
  .item {
      position: relative;
      overflow: hidden;
  }
  .item img {
      width: 100%;
      image-rendering: optimizeSpeed; 
      image-rendering: -moz-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -o-crisp-edges;
      image-rendering: pixelated;   
  }