/* PC Display */
@media (min-width: 64em) {

}

/* Tablet & Mobile Display */
@media (max-width: 63.9375em) {
    #header {
        overflow: hidden;            /*Thuộc tính ẩn đi những thẻ con vượt ra ngoài phạm vi chứa*/
    }

    #navi {
        display: block;
        padding: 2px 0;
    }
  
    #navi > li {
        display: block;
    }

    #navi > li:first-child {
        display: inline-block;
    }

    #navi .subnavi {
        position: initial;
    }

    #navi .subnavi a {
        padding: 3px 38px;
    }

    #header .search-button {
        display: none;
    }

    #header .mb-menu-btn {
        display: block;
    }

    #travel .location-button {
        padding: 15px 16px;
    }

    #contact .contact-info {
        line-height: 2;
    }

    #contact .form-control {
        padding: 15px;
        font-size: 17px;
    }

    #footer .social-list {
        font-size: 42px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet Display */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #slider .text-content {
        bottom: 132px;
    }

    #travel .location-desc {
        min-height: 65px;
    }

    #memory .col-fourth-1, .col-fourth-2 {
        width: 180px;
    }
}

/* Mobile Display */
@media (max-width: 46.1875em) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }
    .mt-65 {
        margin-top: -65px !important;
    }

    #slider .text-content {
        bottom: 100px;
        padding: 0 50px;
        text-align: center;
    }

    #slider .text-heading {
        display: none;
    }

    #slider .text-box {
        font-size: 14px;
    }

    #content .moment-pic {
      
    }

    #travel .location-img {
        height: 320px;
    }

    #travel .location-desc {
        min-height: 65px;
    }

    #travel .location-button {
        font-size: 17px;
        font-style: italic;
    }

    #memory .col-fourth-1, .col-fourth-2 {
        width: 240px;
    }

    #contact .contact-form {
        margin-top: 32px;
    }

    #contact .form-submit-btn {
        line-height: 24px;
        font-size: 17px;
    }
}

@keyframes modalFadeIn {

    /*Animation chuyển modal vào khi click*/
    from {
        opacity: 0;
        transform: translateY(-140px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 900px) {
    .menulist {
        display: flex;
    }

    .col-fourth-1 {
        display: flex;
        flex-direction: row;
        width: 500px;
        margin: 0 auto;
    }

    .col-fourth-1 h3 {
        align-self: center;
    }

    .memory-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around ;
    }
}

@media screen and (max-width: 450px) {
    .menulist {
        display: flex;
        flex-wrap: wrap;
    }

    .menuitem {
        flex: 0 0 33.33%
    }

    .col-fourth-1 {
        width: 440px;
    }

}

@media screen and (max-width: 380px) {
    .col-fourth-1 {
        width: 3750px;
    }

    .menulist {
        display: flex;
        flex-wrap: wrap;
    }

    .menuitem {
        flex: 0 0 50%
    }
}

/* @media only screen and (max-width: 450px) { */
    .ct {
        font-size: 18px;
    }